# 默认黑名单
*

# Stow
!.stow-local-ignore

# Git
!.gitconfig
!.gitignore
!.gitmessage
!.gitmodules

# ZSH
!.zlogout
!.zprofile
!.zshrc

# tmux
!.tmux.conf

# SSH
!.ssh/
!.ssh/config

# Others
!LICENSE
!README.md

!.config/

!.config/zsh/
!.config/zsh/*.zsh

!.config/i3/
!.config/i3/**

!.config/nvim/
!.config/nvim/**

!.config/wezterm/
!.config/wezterm/**

!.config/alacritty/
!.config/alacritty/**

!.config/zellij/
!.config/zellij/*.kdl

!.config/starship.toml

!.config/sway/
!.config/sway/**

!.config/waybar/
!.config/waybar/**

!.config/swaync/
!.config/swaync/**
