*

!.gitconfig
!.gitignore
!.gitmessage
!.gitmodules
!.stow-local-ignore
!.tmux.conf
!.xinitrc
!.Xmodmap
!.Xresources
!.zlogout
!.zprofile
!.zshrc
!LICENSE
!README.md

!.config/
!.config/i3/
!.config/i3/*
!.config/nvim/
!.config/wezterm/
!.config/zsh/
!.config/zsh/*.zsh
!.config/starship.toml
