*
!*/

!.gitconfig
!.gitignore
!.gitmessage
!.gitmodules
!.stow-local-ignore
!.tmux.conf
!.zlogout
!.zprofile
!.zshrc
!LICENSE
!README.md

!.config/i3/**
!.config/nvim/**
!.config/wezterm/**
!.config/zsh/*.zsh
!.config/starship.toml
